[submodule "gmail_sending"]
	path = gmail_sending
	url = git@github.com:Li-Chi-Chang/gmail_sending.git
[submodule "book_reader/web_browser"]
	path = book_reader/web_browser
	url = git@github.com:Li-Chi-Chang/web_browser.git
